.row {
    margin-left: 20px;
    color: white;
    position: relative;
}

.scroll-buttons {
    position: relative;
}

.scroll-button {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    z-index: 2;
    font-size: x-large;
    transition: box-shadow 0.3s ease;
    /* Smooth transition for shadow */
}

.scroll-button:hover {
    box-shadow: 0 0 16px rgba(98, 13, 13, 0.888);
    /* Green-yellow shadow on hover */
}


.scroll-button.left {
    left: 5px;
}

.scroll-button.right {
    right: 5px;
}

.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster-container {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    flex: 0 0 30%;
}

.movie {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.poster-container:hover .movie {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.poster-container:hover .overlay {
    opacity: 1;
}

.video {
    margin-top: 10px;
    text-align: center;
}

.movie-details {
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    margin-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.bi-x-lg {
    cursor: pointer;
    margin-left: 15px;
}

.bi-x-lg:hover {
    color: #6b6a6a;
}

.loading-gif {
    display: block;
    margin: 20px auto;
}