.row{
    margin-left: 20px;
    color: white;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.trending{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}
.bi-x-lg{
    cursor: pointer;
}
.bi-x-lg:hover{
    color: #6b6a6a;
}

.others{
    max-height: 200px;
    margin-right: 10px;
    cursor: pointer;
}

.trending:hover, .others:hover{
    transform: scale(1.1);
}