
.navbar{
 position: fixed;
 top: 0;

 height: 30px;
 padding: 20px;
 display: flex;
 justify-content: space-between;
 z-index: 999;

}

.logo {
    position: fixed;
    left: 20px;
    width: 140px;
    cursor: pointer;
}