.footer {
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  