.banner {
    color: white;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    overflow: hidden;
}

.bannerImage {
    background-size: cover;
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.content {
    padding-top: 230px;
    height: 190px;
    
    padding-left: 15px;
}

.title {
    font-size: 2.75rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.buttons .button {
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background-color: rgba(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.buttons .button:hover {
    color: #000;
    background-color: #e6e6e6;
}

.description {
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .9rem;
    max-height: 80px;
    max-width: 450px;
}

.fade {
    height: 7.4rem;
    margin-top: 12px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden; 
}

.youtube{
    width: 90%;
}

.bi-x-lg {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 2rem;
    color: white;
}

.bi-x-lg:hover {
    color: #6b6a6a;
}

.loading-gif {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie-details {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 20px;
    color: white;
    text-align: center;
    max-width: 80%;
}

.movie-details h2, .movie-details h4, .movie-details p {
    margin: 10px 0;
}
